@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
body{
    font-size: 24px;
    background-image: url(../img/musicBack.jpg) ;
    background-size: cover;
    cursor: url('../img/cursor.png'), default;
}
.wrapper{
    width: 1450px;
    margin: 0 auto; 
}
.header{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 23px;
    text-align: center;
    margin-top: 40px;
}
.logo{
    width: 50%;
}
.nav-link{
    text-decoration: none;
    margin-left: 29px;
    color: white;
}
.nav-link:hover{
    color: #5a0212;
}
h2{
    padding-top: 20px;
    text-align: center;
}
.img{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.gell{
    margin-top: 100px;
}
.photo{
    display: flex;
}
.picture{
    width: 350px;
    padding: 5px;
}
.footer{
    text-align: center;
    color: white;
}